/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */


#headerMenu {
    background-color: #FFF;
  
  
  }

  /* -------------------------------------------------------------------------- */
  /*                                   Footer                                   */
  /* -------------------------------------------------------------------------- */


  .first-div{
    transform: translateY(-350px);
  }
  
  .second-div{
    transform: translateY(-100px);
  }
  .last-div{
    transform: translateY(-240px);
  }

  .line{
    border: 1px solid gray;
  }

  .footer-bg-button{
    background-color: #52006A;
  }

  /* -------------------------------------------------------------------------- */
  /*                                   Contact                                  */
  /* -------------------------------------------------------------------------- */


  .bg-input{
    background-color: #121212;
    height: 55px;
    
  }

  textarea{
    background-color: #121212;
    height: 100px;
  }


.select-mod{
  padding-left: 5px;
  padding-right: 12px;
  width: 100%;
  background-color: #121212;
  border-radius: 8rem;
  display: flex;


  
}
