@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-svg-core/styles.css';

 body {
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#headerMenu {
  background-color: #FFF;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image {
  position: sticky;
  top: 0;
  z-index: 1;
  animation: header-image-animation linear;
  animation-timeline: view();
}

@keyframes header-image-animation {
  15% { opacity: 1; }
  85% { opacity: 0; }
}
