@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#headerMenu {
  background-color: #FFF;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image {
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100dvw;

  opacity: 0.4;
}

@keyframes header-image-animation {
  15% {

    background-size: 500px 300px;
  }

  35% {
    background-size: 650px 400px;
  }

  85% {

    background-size: 800px 500px;
  }
}

.last-box {
  background-color: #121212;
}

#bg {
  animation: header-image-animation linear;
  animation-timeline: view();
  background-image: url('../public/brandImage/background.webp');

}