@keyframes header-image-animation {
  15% {

    background-size: 500px 300px;
  }

  35% {
    background-size: 650px 400px;
  }

  85% {

    background-size: 800px 500px;
  }
}

.box {
  background-color: #121212;

}

.card {
  background-color: #0B0B0B;
}

#bg {
  background-image: url('../../public/brandImage/background.webp');
  animation: header-image-animation linear;
  animation-timeline: view();

}



#second-ref{
   padding-bottom: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                  InfoCard                                  */
/* -------------------------------------------------------------------------- */

.info-card {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible-element {
  z-index: 40;
}

.invisible-element {
  z-index: -1;
}

.border-style{
  border: 1px inset grey;
}


